.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registration-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* border: 1px solid black; */
    padding-left: 150px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
  